@page "/sample-inquire"
@using System.Diagnostics.CodeAnalysis;
@using DataManager.Database.Data;
@inject MessageService MessageService

<h3>样品数据查询</h3>
<p></p>
<div>
    <GroupBox Title="搜索条件">
        <StandardDataSearch QueryClick="@OnQueryDataAsync"/>
    </GroupBox>
</div>
<p></p>
<div>
    <Table TItem="DynamicObject" DynamicContext="DataTableDynamicContext"
        IsMultipleSelect="true" IsBordered="false" IsStriped="true"
        ShowToolbar="true" ShowExtendButtons="false" ShowSearch="true"
        IsFixedHeader="true">
    </Table>
</div>

@code 
{
    private ITableSearchModel CustomerSearchModel { get; set; } = new StandardDataSearchModel();

    [NotNull]
    private DataTableDynamicContext? DataTableDynamicContext { get; set; }

    public DateTimeRangeValue? SearchDate { get; set; }

    private DataTableDynamicContext InitTable()
    {
        var myList=StandDataList.CreateSampleList();
        DataTableDynamicContext result = new DataTableDynamicContext(myList.GetDataTeble());
        return result;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataTableDynamicContext = InitTable();
    }

    private Task OnQueryDataAsync(StandardDataSearchModel args)
    {
        var myList = DBUtils.Inquire(args.WorkPosition);
        if(!myList.Any())
        {
            
        }
        DataTableDynamicContext = new DataTableDynamicContext(myList.GetDataTeble());
        return Task.CompletedTask;
    }

    private async Task ShowColorMessage(Color color)
    {
        await MessageService.Show(new MessageOption()
            {
                Content = "This is a colored message",
                Icon = "fa-solid fa-circle-info",
                Color = color
            });
    }

    private Task<QueryData<SpectrumInquireItem>> OnQueryAsync(QueryPageOptions options)
    {
        // 自定义了 SearchModel
        IEnumerable<SpectrumInquireItem> items = options.CustomerSearches.Any() ? SpectrumInquireItem.Inquire(options.CustomerSearches) : SpectrumInquireItem.Inquire();

        // 设置记录总数
        var total = items.Count();
        var isAdvanceSearch = options.CustomerSearches.Any();
        // 内存分页
        items = items.Skip((options.PageIndex - 1) * options.PageItems).Take(options.PageItems).ToList();

        return Task.FromResult(new QueryData<SpectrumInquireItem>()
            {
                Items = items,
                TotalCount = total,
                IsSorted = true,
                IsFiltered = true,
                IsSearch = true,
                IsAdvanceSearch = isAdvanceSearch
            });
    }
}