@using System.Diagnostics.CodeAnalysis;

<div class="row form-inline g-3">
    <div class="col-12 col-sm-4">
        <Select @bind-Value="Value.Location" Items="@Locations" OnSelectedItemChanged="@OnSelectItemChangedHandle" ShowLabel="true" DisplayText="地点:" />
    </div>
    <div class="col-12 col-sm-4">
        <Select @bind-Value="Value.WorkPosition" Items="@Positions" ShowLabel="true" DisplayText="工位:" />
    </div>
    <div class="col-12 col-sm-4">
        <DateTimeRange @bind-Value="Value.SearchDate" ShowLabel="true" DisplayText="时间:" />
    </div>
</div>

@code
{
    private List<SelectedItem> Locations { get; set; } = new();
    public List<SelectedItem> Positions { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        Locations = SepctrumSearchModel.GetLocations().Select(t => new SelectedItem(t, t)).ToList();
        return base.OnInitializedAsync();
    }

    private Task OnSelectItemChangedHandle(SelectedItem item)
    {
        Positions = SepctrumSearchModel.GetWorkPositions(item.Value).Select(t => new SelectedItem(t, t)).ToList();
        return Task.FromResult("");
    }

    /// <summary>
    ///
    /// </summary>
    [Parameter]
    [NotNull]
    public StandardDataSearchModel? Value { get; set; }

    /// <summary>
    ///
    /// </summary>
    [Parameter]
    public EventCallback<StandardDataSearchModel> ValueChanged { get; set; }

    /// <summary>
    ///
    /// </summary>
    public List<SelectedItem> CountItems { get; } = new List<SelectedItem>()
        {
            new SelectedItem("", "全部"),
            new SelectedItem("1", "小于 30"),
            new SelectedItem("2", "大于等于 30 小于 70"),
            new SelectedItem("3", "大于等于 70 小于 100")
        };

    public List<SelectedItem> AllHobbys => StandardDataSearchModel.GetAllHobbys().Select((t, index) => new SelectedItem(index.ToString(), t)).ToList();
}
