@page "/table"
@attribute [TabItemOption(Text = "Table")]
<PageTitle>Table</PageTitle>


<Table TItem="Foo" IsPagination="true" PageItemsSource="PageItemsSource" class="table-demo"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="true"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
       AutoGenerateColumns="true" EditMode="EditMode.Popup">
    <TableColumns>
        <TableColumn @bind-Field="@context.Hobby" Items="GetHobbys(context)" />
    </TableColumns>
</Table>

@code
{
    private QueryModel Model = new QueryModel();

    private List<SelectedItem> Locations = new List<SelectedItem>(); 

    protected override Task OnInitializedAsync()
    {
        var list = new List<string>() { "白银", "铜陵", "南京", "韶关" };
        foreach (var item in list)
        {
            Locations.Add(new SelectedItem(item, item));
        }
        return base.OnInitializedAsync();
    }
}